
<h3>Tu papeleta auditada</h3>

<p>
<b><u>IMPORTANTE</u></b>: esta papeleta, ahora que ha sido auditada, <em>no será escrutada</em>.<br />
Para emitir una papeleta, debes hacer click en el botón "Volver a la Votación" de debajo, re-encriptarla, y elegir "emitir" en lugar de "auditar".
</p>

<p>
<b>¿Por qué?</b> Helios previene que audites y emitas la misma papeleta para darte algo de protección contra la coerción.
</p>

<p>
<b>¿Ahora qué?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecciona tu información de auditoría de papeleta</a>, cópiala a tu portapapeles, y usa el <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de papeletas</a> para verificarla.<br />
Cuando estés satisfecho, haz click en "volver a la votación" para re-encriptar y emitir tu papeleta.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de volver a la votación,<br />
Puedes publicar esta papeleta auditada en el centro de rastreo de Helios así otros puede comprobar la verificación de esta papeleta.
<br /><br />
<b>Incluso si publicas tu papeleta auditada, debes volver a la votación y elegir "emitir" si quieres que tu voto cuente</b>
<br /><br />
<input type="button" value="volver a la votación" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="publicar papeleta auditada al centro de rastreo" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




