
<div id="questions_div">
<p>
    Para emitir un voto, serás guiado por los siguientes pasos.<br />
    Si aún no has iniciado sesión, se te pedirá que lo hagas al final del proceso.
<p>
    
<ol>
    <li> <b>Seleciona</b> tus opciones preferidas.<br />
<span style="font-size: 14pt;">Puedes navegar fácilmente hacia delante y hacia atrás.</span></li>
<br />

    <li> <b>Comprueba &amp; Confirma</b> tus elecciones.<br />
<span style="font-size: 14pt;">
  Tus elecciones se encriptan de forma segura en tu navegador, y recibes un rastreador inteligente de papeleta.<br />
</span>
</li>
<br />

    <li> <b>Envía</b> tu papeleta encriptada.<br />
<span style="font-size: 14pt;">
Se te pedirá que inicies sesión para enviar tu papeleta encriptada para el recuento.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Empezar</button></div>
</div>

