
{#if $T.election_metadata.use_advanced_audit_features}
<div style="float: right; background: lightyellow; margin-left: 20px; padding: 0px 10px 10px 10px; border: 1px solid #ddd; width:200px;">
<h4><a onclick="$('#auditbody').slideToggle(250);" href="#">Auditar</a> <span style="font-size: 0.8em; color: #444">[opcional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
Si lo eliges, puedes auditar tu papeleta y mostrar cómo tus elecciones fueron encriptadas.
</p>
<p>
Entonces serás guiado a re-encriptar tus elecciones para la emisión final.
</p>
<input type="button" value="Verificar Encriptación" onclick="BOOTH.audit_ballot();" class="pretty" />
</p>
</div>
</div>
{#/if}

<h3>Revisar tu Papeleta</h3>


<div style="padding: 10px; margin-bottom: 10px; background-color: #eee; border: 1px #ddd solid; max-width: 340px;">
{#foreach $T.questions as question}

<b>Pregunta #{$T.question$index + 1}: {$T.question.short_name}</b><br>
{#if $T.choices[$T.question$index].length == 0}
<div style="margin-left: 15px;">&#x2610; <i>Elección no Seleccionada</i></div>
{#/if}
{#foreach $T.choices[$T.question$index] as choice}
<div style="margin-left: 15px;">&#x2713; {$T.choice}</div>
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
[has seleccionado {$T.choices[$T.question$index].length} candidatos; puedes seleccionar de {$T.question.min} a {$T.question.max}]
{#/if}
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">editar respuestas</a>]
{#if !$T.question$last}<br><br>{#/if}
{#/for}
</div>


<p><p>Tu rastreador de papeleta es <b><tt style="font-size: 11pt;">{$T.encrypted_vote_hash}</tt></b>, y puedes <a onclick="BOOTH.show_receipt(); return false;" href="#">imprimirlo</a><br /><br /></p>

<p>
Una vez hagas click en "Enviar", la versión no encriptada de tu papeleta será destruida, y solo la versión encriptada permanecerá. La versión encriptada será enviada a el servidor de Helios.</p>

<button id="proceed_button" onclick="BOOTH.cast_ballot();">¡Envía este voto!</button><br />
<div id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>
