{% extends TEMPLATE_BASE %}

{% block content %}
<h1>Por qué necesitamos tu información</h1>

<p>
Parece que has rechazado el darnos permiso a acceder a tu 
información. Entendemos y valoramos tu privacidad. Pedimos esta información 
para poder contactar contigo con tu número de rastreo de votación y 
cuando una votación en la que hayas participado haya sido escrutada.
Prometemos no usar esta información para ningún otro propósito. Sin
esta información, desafortunadamente no podemos ayudarte a votar.
</p>

<form method="POST" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="OK, lo entiendo, hagamos esta cosa del logueo." /><br /><br />
<a href="http://google.com">nope, sácame de aquí</a>.
</form>

{% endblock %}
