{% extends TEMPLATE_BASE %}
{% block title %}Confirmar Voto{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; ¡Voto Emitido Exitosamente!</h1>

<p>
    ¡Enhorabuena, su voto se ha <b><u>emitido exitosamente</u></b>!
</p>

<p>
  Tu rastreador inteligente de la papeleta es:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

{% if logout %}
<p><b>Por tu seguridad, hemos cerrado tu sesión.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">volver a información de las elecciones</a> ]
</p>

{% endblock %}
