{% extends TEMPLATE_BASE %}

{% block title %}Computar Recuento &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Computar Recuento <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">cancelar</a>]</span></h2>

  <p>
    Estás a punto de computar el recuento de esta votación. Solo tú verás los resultados.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="¡computar recuento!" />
  </form>

{% endblock %}
