{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Congelar Papeleta</h2>
<p>
Una vez que la papeleta está congelada, las preguntas y opciones ya no pueden ser modificadas.<br />
La lista de fideicomisarios y sus claves públicas también serán congeladas.
</p>

<p>
{% if election.openreg %}
El registro para tus elecciones está actualmente <b>abierto</b>, lo que significa que cualquiera puede votar, incluso después de que congeles la papeleta.
{% else %}
El registro para tus elecciones está actualmente <b>cerrado</b>, lo que significa que solo los votantes que designes podrán emitir una papeleta. Como administrador, todavía podrás modificar esa lista de votantes mientras las elecciones avanzan.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Debes congelar la papeleta antes de que puedas contactar a votantes.
</p>
{% endif %}

{% if issues_p %}
<p>
    Antes de que puedas congelar las elecciones, necesitarás:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">volver a las elecciones</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Freeze the ballot" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">no importa</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
