{% extends TEMPLATE_BASE %}

{% block content %}

  <h2 class="title">La votación {{election.name}} Ya ha sido escrutada</h2>

  <p>
      Esta votación ya ha sido escrutada, ya no puedes emitir un voto.
  </p>
  
  <p>
      {% if election.voting_start_at %}La votación empieza el {{election.voting_start_at}}<br />{% endif %}
      {% if election.voting_end_at %}La votación termina el {{election.voting_end_at}}<br />{% endif %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">ver el recuento de la votación</a>
  </p>
{% endblock %}