{% extends TEMPLATE_BASE %}
{% block title %}Confirmar Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">Enviando tu voto para <b>{{election.name}}</b>...</p>

<div id="waiting_div">
    Verificando y Emitiendo tu papeleta<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% if user %}
<h1>¡Espera!</h1>
<p>
Estás logueado como <u>{{user.display_html_small|safe}}</u>, pero esta votación<br />
requiere credenciales específicas de votación.
</p>
{% endif %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>¡Perdón!<h1>
<b>Lo siento, no eres <em>
  {% if election.openreg %}
    <u>eligible</u></em> para esta votación.
  {% else %}
    un usuario registrado</em> en esta votación, y el registro está cerrado.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">volver a la página principal de la votación</a>]
</p>
{% else %}
<p>
<h1>¡Espera! Necesitas iniciar sesión.</h1>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Esta votación está abierta para <em>cualquiera</em>, así que inicia sesión con tu cuenta principal.
  {% endif %}

{% else %}
  Esta votación está abierta solo a <em>votantes registrados</em>, así que inicia sesión con la misma cuenta con la que te registraste.
{% endif %}
</p>

{{login_box|safe}}

<br />
No te preocupes, nosotros recordaremos tu papeleta mientras inicias sesión.
{% endif %}

{% endif %}
<br />
Tu rastreador de papeleta inteligente es:<br /><br />
    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
