{% extends "helios/templates/cryptobase.html" %}

{% block title %}Trustees for {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Fideicomisarios <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">volver a las elecciones</a>]</span></h3>

<p>
    Los fideicomisarios son los responsables de desencriptar los resultados de las elecciones<br />
    Cada fideicomisario genera un par de claves y envía la porción pública a Helios.<br />
    Cuando llega la hora de desencriptar, cada fideicomisario necesita proveer su clave secreta.
</p>

{% if not election.frozen_at %}

<p>
  Helios es automáticamente tu primer fideicomisario y se encargará de su generación de par de claves y de la desencriptación automáticamente.<br />
  Puedes añadir fideicomisarios extra si quieres, incluso puedes eliminar a Helios como fideicomisario.<br />
  Sin embargo, Recomendamos que hagas esto solo si tienes un conocimiento sólido sobre el rol del fideicomisario.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Añadir tu propio fideicomisario requiere bastante más trabajo para el recuento de las elecciones.\nNecesitarás que los fideicomisarios generen pares de claves y custodiar sus claves secretas.\n\nSi no estás seguro de lo que eso significa, Te recomendamos\nhacer click en Cancelar y dejar que Helios recuente las elecciones por tí.'));" href="{% url "election@trustees@new" election.uuid %}">añadir un fideicomisario</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">añadir a Helios como fideicomisario</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Fideicomisario #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('¿Estás seguro de que quieres eliminar a Helios como fideicomisario?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('¿Estás seguro de que quieres eliminar a este fideicomisario?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Are you sure you want to send this trustee his/her admin URL?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">send login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Huella digital de clave pública: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
No hay una clave pública subida aún.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>recuento registrado para este fideicomisario.</b>
{% else %}
<em>esperando el recuento de este fideicomisario</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
