{% extends TEMPLATE_BASE %}

{% block title %}Cookies are required for Helios use{% endblock %}

{% block content %}
  <h2 class="title">Las Cookies son Requeridas por Helios</h2>

<p>
Parece que tu navegador no soporta cookies o está configurado para bloquear las de este sitio. Helios necesita establecer una cookie de sesión para poder guardar tu voto, dejar que inicies sesión, etc. Activa las cookies y después <a href="{{retest_url}}">procede a preparar tu papeleta</a>
</p>
<p>
Si sigues siendo redirigido a esta página, Es probablemente porque no has activado las cookies correctamente.
</p>
{% endblock %}
