{% extends TEMPLATE_BASE %}
{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">votaciones</a></li>
<li> <a href="{% url "stats@recent-votes" %}">votos recientes</a></li>
<li> <a href="{% url "stats@elections-problems" %}">problemas de elecciones recientes</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> votos en cola. {% if num_votes_in_queue %}[<a href="{% url "stats@force-queue" %}">forzar</a>]{% endif %}</p>

{% endblock %}
