{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Fideicomisario {{trustee.name}} Página principal</span></h2>

<p>
{% if trustee.public_key_hash %}
Has subido tu clave pública exitosamente.<br />
Tu huella digital de clave pública es: <b>{{trustee.public_key_hash}}</b>.<br />
Puedes <a href="{% url "election@trustee@check-sk" election.uuid trustee.uuid %}">verificar que tienes la clave secreta correcta</a>.
{% else %}
<a href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">configurar tu clave</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Has subido correctamente tu desencriptación
{% else %}
    El recuento encriptado de esta votación está listo<br />
    <a href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">desencriptar con tu clave</a>
{% endif %}
{% else %}
Una vez el recuento esté computado, Vuelve aquí para proveer tu clave privada para propósitos de desencriptación.<br />
Deberías guardar el email con el enlace a tu página principal de fideicomisario, el cual contiene las credenciales que necesitas para volver aquí.
{% endif %}
</p>



{% endblock %}
