{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Carga Masiva de Votantes &mdash; Confirmar<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">volver a las elecciones</a>]</span></h2>

<p>
Has subido un archivo de votantes. Las primeras filas de este archivo son:
</p>

<table>
<tr><th>Login del Votante</th><th>Dirección Email</th><th>Nombre</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
ESPERA:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">no importa, sube un archivo distinto</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  ¿Te parece correcto?
  <input type="hidden" name="confirm_p" value="1" />
  <input type="submit" value="Sí, vámonos" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">no, déjame subir un archivo diferente</a>

{% endif %}

{% endblock %}
