{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Buscar votantes por '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">volver a las elecciones</a>]</span></h2>

{% if voter %}
Votante Encontrado: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">manda un correo a este votante</a>
{% else %}
una vez que esta votación esté congelada, podrás mandar un email a este votante.
{% endif %}
{% else %}
<em>no se encontró tal votante</em>
{% endif %}

{% endblock %}