{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Carga Masiva de Votantes <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">volver a las elecciones</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
    Si te gustaría especificar tu propia lista de votantes por nombre y dirección email,<br />
    puedes cargar masivamente una lista de dichos votantes aquí.<br /><br />

    Por favor prepara un archivo de texto con valores separados por coma con los campos:
</p>
<pre>
   &lt;id_unico&gt;,&lt;email&gt,&lt;nombre completo&gt;
</pre>

<p>
Por ejemplo:
  </p>
  <pre>
      benadida,ben@adida.net,Ben Adida
      bobsmith,bob@acme.org,Bob Smith
      ...
  </pre> 

  <p>
    La forma más fácil de preparar dicho archivo es usando un programa de hojas de cálculo y exportar a "CSV".
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="vamos" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, subido.<br />
  Ahora puedes <a href="./manage">ver la lista de los votantes</a>.
</div>

{% endblock %}
